<template>
  <div class="home">
    <h1 class="title">
      {{ entityName }}
    </h1>
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import conf from '@/conf'

export default {
  name: 'home',
  data () {
    return {
      zoom: 10,
      center: [ 55.59, -21.13 ],
      rotation: 0,
      // url: 'https://services.arcgisonline.com/arcgis/rest/services/Demographics/USA_Population_Density/MapServer/WMTS/',
      url: 'https://{a-c}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      layerName: '0',
      matrixSet: 'EPSG:3857',
      format: 'image/png',
      styleName: 'default',
      attribution: 'Tiles © <a href="https://services.arcgisonline.com/arcgis/rest/' +
                                      'services/Demographics/USA_Population_Density/MapServer/">ArcGIS</a>',
      activeName: '1',
      entityName: conf.ENTITY_NAME
    }
  },
  components: {
    HelloWorld
  }
}
</script>
